


.App{
  text-align: center;
 

  background: linear-gradient(to right,rgba(0, 0, 0, 0.319),white,rgba(0, 0, 0, 0.429));
  align-items: center;
 
  /* background-image: linear-gradient(to right,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)); */
  height: 90vh;
  width: 100%;
}

.App p{
  font-size: 32px;
  font-weight:700;
}

.App button{
  height: 45px;
  width: 90px;
  font-size:18px;
  background-color: rgb(240, 203, 20);
  border: 1px solid black;
  border-radius: 8px;
}


.App button:hover{
  background-color: rgb(251, 224, 86);
}


.nav-main{
  height: 50px;
  justify-content:space-around;
  align-items: center;
  padding-top:15px;
  background-color: rgb(240, 203, 20);

}

.nav-link:hover{
  background-color: white;

}